footer {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.text-reset {
  color: black; 
}

.oq {
  color: black;
}

.text-reset {
  text-decoration: none;
}

.bx {
  font-size: 18px;
}

.social {
  color: black;
  font-size: 25px;
}

.text-uppercase  {
  color: black;
}